table{
    border: 2px solid black;
    margin-left: 5%;
    font-size: 12pt;
  }
#tab {
margin-top:
}

nav{
  display: flex;
  font-size: 12pt;
    box-shadow: 2px 2px 3px black;
    background-color: white;
    margin-top: 3%;
    justify-content: space-between;
    text-align: center;
  /* text-align: center; */
  /* justify-content: space-between; */
}
body {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://static1.squarespace.com/static/59a4f55f2994caf642815e9c/t/59aa3beac534a5dcf20cdda3/1504328697036/work.jpeg?format=750w);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
    /* box-shadow: 2px 2px 5px black; */
}


p, h1,h2{
  color: white;
}
