body{
  background-color: ;
}

#navv{
  display: flex;
  /* align-items: center; */
  box-shadow: 2px 2px 5px black;
  border: 2px white solid;
  border-radius: 15px;
  background-color:
  font-size: 10pt
}
#newcountry{
  display: flex;
  justify-content: center;
/* margin-top: 10px; */
border-radius: 5px;
box-shadow: 2px 2px 5px black;
}
nav{
  display: flex;
  font-size: 12pt;
  text-align: center;
}

img{
  display: flex;
  justify-content: space-between;
}
